body {
	font-family: Calibri, sans-serif;
	
	h1 {
		text-align: center;
	}
	
	.library-header {
		margin: 0.5em 0;
	}
	
	/* For the div containing a collapsible button & checkbox */
	.collapsible_header {
		padding: 0.5em;
		display: flex;
	}

	/* For the button that toggles collapsing */
	.collapsible {
		margin-top: 0;
		margin-bottom: 0;
		
		background-color: #eee;
		color: #444;
		cursor: pointer;
		text-align: center;
		float: left;
		border: 1px solid black;
	}

	/* For the button, on hover*/
	.active, .collapsible:hover, .collapsible_edit:hover {
		background-color: #ccc;
	}
	
	button.collapsible_edit {
		margin: 0 0.3em;
		padding: 0.1em 0.5em;
		font-style: italic;
		
		background-color: #eee;
		border-radius: 0%;
		border: 1px solid black;
		cursor: pointer;
	}

	/* For the checkboxes in collapsibles */
	input.collapsible_check {
		margin: 0 0.4em;
		
		background-color: white;
		border-radius: 0%;
		vertical-align: top;
		border: 1px solid black;
		cursor: pointer;
	}

	.collapsible_check:checked {
		background-color: gray;
	}

	/* For the content that is hidden by default. */
	.collapsible_content {
		padding: 0 1.1em;
		display: none;
		overflow: hidden;
	}

	/* td, th { */
		/* padding-left: 12px; */
		/* padding-right: 12px; */
		/* padding-top: 4px; */
		/* padding-bottom: 4px; */
		/* border: 1px solid #666; */
	/* } */
}